
image_upscaler/inputs/
**/inputs/
**/pyodide-complete/
env

*.rar
*.zip

python_wheel_creator/Lib/

python_wheel_creator/tmp/

python_wheel_creator/share/

python_wheel_creator/Scripts/

python_wheel_creator/pyvenv.cfg

**/tmp
test/*
**/virtual_environment**

**/*model*/**
!model_tools/model_downloader
!model_tools/model_downloader/*
!model_tools/model_converter
!model_tools/model_converter/*